type project
id RussBaz.DomainQ
version 2.0.1
authors RussBaz
licenseExpression MIT
licenseUrl https://licenses.nuget.org/MIT
description
  Bounded Mailbox (with max capacity) for F# Async workflows and other related synchronisation / utility types - spiced with the Secret Sauce.
projectUrl https://github.com/RussBaz/DomainQ
repositoryUrl https://github.com/RussBaz/DomainQ